.margin {
    margin-top: 200px;
}
.center {
    text-align: center;}
.gold {
    color: #ffd700; }

.white { 
    color: white;}
.bold {
    font-weight: bold;
}
.backgroundblack {
    background-color: black;
}
.texttext {
    color: black;
    text-align: justify;   /* pantay-pantay ang sentence */
    line-height: 2;
    margin: 30px auto;
    max-width: 700px;
}

.margintop50 {
    margin-top: 50px;

}




.hw img {width: 400px;

height: 400px;
border-radius: 12px;
}